
ion-view(title="{{'About Us'|translate}}")
  ion-nav-buttons(side='right')
    button.button.button-clear(on-tap='app.toggleMenu()')
      i.icon.ion-navicon
      .hide(translate) Menu

  ion-content(has-bouncing='true')
    ion-slide-box.slidesWrap(auto-play='true', slide-interval='7000', does-continue='true', show-pager='false')
      ion-slide
        .slide
      ion-slide
        .slide
    .card.details
      .item
        .company(translate) Borneo Essential SPA Treatment Sdn. Bhd.
        p.description(translate) Too cultivated use solicitude frequently. Dashwood likewise up consider continue entrance ladyship oh. Wrong guest given purse power is no. Friendship to connection an am considered difficulty. Country met pursuit lasting moments why calling certain the. Middletons boisterous our way understood law. Among state cease how and sight since shall. Material did pleasure breeding our humanity she contempt had. So ye really mutual no cousin piqued summer result. 
